<div class="container">
    <div class="row">
          <div class="col-md-3">
                a
          </div>
          <div class="col-md-9">
              <br><br><br><br><br><br>
            <div class="login-popup-wrap new_login_popup"> 
                <div class="login-popup-heading text-center">
                    <h4><i class="fa fa-lock" aria-hidden="true"></i> Login </h4>                        
                </div>
                <form id="loginMember" role="form" action="" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="user_id" placeholder="e-mail" name="user_id">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Login</button>
                </form>
                <div class="form-group text-center">
                </div>
                <div class="text-center">Not registered yet?<a href="http://192.168.50.34/abcc/membership-application">click here</a></div>
            </div>
          </div>
    </div>
</div>